/* Estilos generales */
body { 
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.product-icon {
  width: 50px; /* Ancho del icono */
  height: 50px; /* Alto del icono */
  margin-right: 10px; /* Espacio entre el icono y el texto */
  vertical-align: middle; /* Alineación vertical */
  /* hacer que sea redonda como un circulo y en cover  */
  border-radius: 50%; /* Bordes redondeados */
  object-fit: cover; /* Ajusta la imagen al contenedor */

}

/* Contenedor principal */
.container {
  max-width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* Botón de cambio de tema */
.theme-toggle {
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.theme-toggle:hover { /* Efecto hover  para el botón modo claro*/
  background: #555;
  transform: scale(1.05);
}


/* Modo oscuro */
.dark {
  background-color: #1e1e1e;
  color: #fff;
}

.dark .container {
  background: #2c2c2c;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.dark .theme-toggle {
  background: #619af5;
  color: #fff;
}


/* Modo Verde */
.green {
  background-color: #1e8a5d; /* Color de fondo */
  color: #fff; /* Color de texto */
}

.green .container { /* Contenedor */
  background: #1e8a5d; /* Fondo */
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2); /* Sombra */
}

.green .theme-toggle { /* Botón de cambio de tema */
  background: #fff; /* Fondo */
  color: #1e8a5d; /* Texto */
}
/* Modo Amarillo */
.yellow {
  background-color: #eaee09; /* Color de fondo */
  color: #fff; /* Color de texto */
}

.yellow .container { /* Contenedor */
  background: #999b1e; /* Fondo */
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2); /* Sombra */
}

.yellow .theme-toggle { /* Botón de cambio de tema */
  background: #fff; /* Fondo */
  color: #f2f530; /* Texto */
}

/* Modo azul */
.blue {
  background-color: #1e3a8a; /* Color de fondo */
  color: #fff; /* Color de texto */
}

.blue .container { /* Contenedor */
  background: #619af5; /* Fondo */
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2); /* Sombra */
}

.blue .theme-toggle { /* Botón de cambio de tema */
  background: #fff; /* Fondo */
  color: #2563eb; /* Texto */
}





/* Formulario de creación */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

input, select { /* Estilos para los inputs y selects del formulario */
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background: #f9f9f9;
  transition: 0.3s ease;
}

input:focus, select:focus { /* Efecto focus para los inputs y selects */
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

.dark input, .dark select { /* Modo oscuro para el select del formulario */
  background: #333;
  border-color: #666;
  color: white; /* Texto */
}

button { /* Estilos para el botón del formulario */
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover { /* Efecto hover para el botón del formulario */
  background: #0056b3;
  transform: scale(1.01); /* Efecto de escala */
}

/* Lista de productos */
ul {
  list-style: none;
  padding: 0;
}

.product-item { /* Estilos para los elementos de la lista de productos */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e3f2f5;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease;
}

.product-item:hover { /* Efecto hover para los elementos de la lista de productos */
  transform: scale(1.02);
}

.dark .product-item { /* Modo oscuro para la lista de productos */
  background: #3a3a3a;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.blue .product-item { /* Modo azul para la lista de productos */
  background: #3f598f;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.green .product-item { /* Modo verde para la lista de productos */
  background: #3f8f5f;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
.yellow .product-item { /* Modo amarillo para la lista de productos */
  background: #ced11f;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}


/* Botones de acción */
.button-group {
  display: flex;
  gap: 10px;
}

.edit-btn, .delete-btn, .save-btn, .cancel-btn { /* Estilos para los botones de acción */
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease, transform 0.2s ease;
}

.edit-btn { /* Estilos para el botón de editar */
  background: #ffc107;
  color: black;
}

.edit-btn:hover { /* Efecto hover para el botón de editar */
  background: #e0a800;
  transform: scale(1.05);
}

.delete-btn { /* Estilos para el botón de eliminar */
  background: #dc3545;
  color: white;
}

.delete-btn:hover { /* Efecto hover para el botón de eliminar */
  background: #c82333;
  transform: scale(1.05);
}

.save-btn { /* Estilos para el botón de guardar */
  background: #28a745;
  color: white;
}

.save-btn:hover { /* Efecto hover para el botón de guardar */
  background: #218838;
  transform: scale(1.05);
}

.cancel-btn { /* Estilos para el botón de cancelar */
  background: #6c757d;
  color: white;
}

.cancel-btn:hover { /* Efecto hover para el botón de cancelar */
  background: #5a6268;
  transform: scale(1.05);
}

/* Estilos en edición */
.product-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-content input, .product-content select { /* Estilos para los inputs y selects de la lista de productos */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* theme color product content */
.dark .product-content input, .dark .product-content select {  /* Modo oscuro  para la lista de productos */ 
  background: #444; /* Fondo */
  border-color: #666; /* Borde */
  color: white; /* Texto */
}

.blue .product-content input, .blue .product-content select {  /* Modo azul  para la lista de productos */ 
  background: #72abe9; /* Fondo */
  border-color: #aec5f8; /* Borde */
  color: white; /* Texto */
}

.green .product-content input, .green .product-content select {  /* Modo verde  para la lista de productos */ 
  background: #72e9a1; /* Fondo */
  border-color: #aef8d5; /* Borde */
  color: white; /* Texto */
}
.yellow .product-content input, .yellow .product-content select {  /* Modo amarillo  para la lista de productos */ 
  background: #dbdb41; /* Fondo */
  border-color: #d4d494; /* Borde */
  color: white; /* Texto */
}

input { /* Estilos para los inputs */
  width: 100%; /* Asegura que el input se ajuste al contenedor */
  max-width: 100%; /* Evita que se desborde */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}


/* Estilos para el checkbox del estado del equipo */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-container input[type="checkbox"] { /* Estilos para el checkbox */
  appearance: none;
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 12px;
  position: relative;
  transition: background 0.3s ease;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]::before { /* Estilos para el before del checkbox */
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.checkbox-container input[type="checkbox"]:checked { /* Estilos para el checkbox checked */
  background: #28a745;
}

.checkbox-container input[type="checkbox"]:checked::before { /* Estilos para el before del checkbox checked */
  transform: translateX(20px);
}

/* Modo oscuro */
.dark .checkbox-container input[type="checkbox"] {  
  background: #666;
}

.dark .checkbox-container input[type="checkbox"]:checked {
  background: #17a2b8;
}

.dark .checkbox-container input[type="checkbox"]::before {
  background: #ddd;
}

/* Modo verde */
.green .checkbox-container input[type="checkbox"] { /* Modo verde para el checkbox */
  background: #666666;
}

.green .checkbox-container input[type="checkbox"]:checked { /* Modo verde para el checkbox checked*/
  background: #28a745;
}

.green .checkbox-container input[type="checkbox"]::before { /* Modo verde para el checkbox before */
  background: #ddd;
}

/* Modo amarillo */
.yellow .checkbox-container input[type="checkbox"] { /* Modo amarillo para el checkbox */
  background: #666666;
}

.yellow .checkbox-container input[type="checkbox"]:checked { /* Modo amarillo para el checkbox checked*/
  background: #ffc107;
}

.yellow .checkbox-container input[type="checkbox"]::before { /* Modo amarillo para el checkbox before */
  background: #ddd;
}

/* Modo azul */
.blue .checkbox-container input[type="checkbox"] { /* Modo azul para el checkbox */
  background: #666666;
}

.blue .checkbox-container input[type="checkbox"]:checked { /* Modo azul para el checkbox checked*/
  background: #174ab8;
}

.blue .checkbox-container input[type="checkbox"]::before { /* Modo azul para el checkbox before */
  background: #ddd;
}


/* Contenedor de filtros: alineado al centro */
.filter-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center; /* Centra los elementos */
  margin-bottom: 15px;
  flex-wrap: wrap; /* Para adaptarse en pantallas pequeñas */
}

/* Estilo de la caja de búsqueda */
.search-box {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 250px;
  text-align: center;
}

/* Estilos de los filtros de fecha */
.date-filter {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 160px;
  text-align: center;
}

/* Botón de limpiar */
.clear-btn {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.clear-btn:hover { /* Efecto hover para el botón de limpiar */
  background-color: #610c09;
}

/* Estilos para la tabla de detalles */

.detail-container { /* Contenedor de detalles */
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.detail-table { /* Tabla de detalles */
  width: 100%; /* Ancho completo */
  border-collapse: collapse; /* Colapsa los bordes */
  margin: 10px 0; /* Espacio entre la tabla y otros elementos */
  overflow: hidden; /* Para que los bordes redondeados afecten a los bordes internos */
}

.detail-table th, .detail-table td { /* Estilos para las celdas de la tabla */
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.detail-table th { /* Estilos para el encabezado de la tabla */
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Modo oscuro */
.dark .detail-table th { /* Estilos para el encabezado en modo oscuro */
  background-color: #f8f8fa;
  font-weight: bold;
  color: #14171e; /* Color del texto en modo oscuro */
}

.dark .detail-table td { /* Estilos para las celdas en modo oscuro */
  color: #f8f2f2; /* Color del texto en modo oscuro */
}

/* Modo azul */
.blue .detail-table th { /* Estilos para el encabezado en modo azul */
  background-color: #3f598f;
  color: white;
}

.blue .detail-table td { /* Estilos para las celdas en modo azul */
  color: #dce6f7;
}

/* Modo verde */
.green .detail-table th { /* Estilos para el encabezado en modo verde */
  background-color: #3f8f5f;
  color: white;
}

.green .detail-table td { /* Estilos para las celdas en modo verde */
  color: #d8f7e3;
}

/* Modo amarillo */
.yellow .detail-table th { /* Estilos para el encabezado en modo amarillo */
  background-color: #ced11f;
  color: white;
}

.yellow .detail-table td { /* Estilos para las celdas en modo amarillo */
  color: #f9f7d8;
}


.back-button { /* Botón de volver */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.back-button:hover { /* Efecto hover para el botón de volver */
  background-color: #0056b3;
}